<nav class="navbar navbar-expand-md fixed-top navbar-light shadow-sm p-3 mb-5 bg-white">
  <%= link_to  orders_path, class: "navbar-brand rounded-circle bg-custom d-block position-relative d-flex" do %>
    <i class="fas fa-cubes text-primary"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item w-space-nw active">
        <%= link_to 'All', orders_path, class: "nav-link" %>
      </li>
      <li class="nav-item w-space-nw">
        <%= link_to 'Orders Pending ', filter_orders_path(filter_param: '0'), class: "nav-link" %>
      </li>
      <li class="nav-item w-space-nw">
        <%= link_to 'Orders in Progress', filter_orders_path(filter_param: '1'), class: "nav-link" %>
      </li>
      <li class="nav-item w-space-nw">
        <%= link_to 'Complete orders', filter_orders_path(filter_param: '2'), class: "nav-link" %>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 d-shrink-1 w-space-nw">
      <%= number_field :order_control, nil, step: 1, id: 'order_number', class: "form-control mr-sm-2 min-50 w-50" %>
      <button id="controlFilterBtn", class="btn btn-outline-primary my-2 my-sm-0 max-40">
        Control number
      </button>
    </div>
  </div>
</nav>
<%= render 'application/javascript' %>