<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<%= link_to 'All orders', orders_path %>
<%= link_to 'Pending orders', filter_orders_path(filter_param: '0') %>
<%= link_to 'Orders in progress', filter_orders_path(filter_param: '1') %>
<%= link_to 'Complete orders', filter_orders_path(filter_param: '2') %>

<div>
  <%= number_field(:order_control, nil, step: 1, id: 'order_number') %>
  <button id="controlFilterBtn">
  Control number
  </button>
</div>

<table>
  <thead>
    <tr>
      <th>Control number</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.control_number %></td>
        <td><%= order.state %> <%= link_to 'Update state',  update_order_path(order.id), method: :PUT%></td>
        <td><%= link_to 'Show', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
