<nav class="navbar navbar-expand-md fixed-top navbar-light shadow-sm p-3 mb-5 bg-white">
  <%= link_to  orders_path, class: "navbar-brand rounded-circle bg-custom d-block position-relative d-flex" do %>
    <i class="fas fa-cubes text-primary"></i>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item w-space-nw active">
        <%= link_to 'All', orders_path, class: "nav-link" %>
      </li>
      <li class="nav-item w-space-nw">
        <%= link_to 'Orders Pending ', filter_orders_path(filter_param: '0'), class: "nav-link" %>
      </li>
      <li class="nav-item w-space-nw">
        <%= link_to 'Orders in Progress', filter_orders_path(filter_param: '1'), class: "nav-link" %>
      </li>
      <li class="nav-item w-space-nw">
        <%= link_to 'Complete orders', filter_orders_path(filter_param: '2'), class: "nav-link" %>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0 d-shrink-1 w-space-nw">
      <%= number_field :order_control, nil, step: 1, id: 'order_number', class: "form-control mr-sm-2 min-50 w-50" %>
      <button id="controlFilterBtn", class="btn btn-outline-primary my-2 my-sm-0 max-40">
        Control number
      </button>
    </div>
  </div>
</nav>
<p id="notice"><%= notice %></p>

<div class="mt-5 container">
  <div class="row mt-2 mb-4">
    <div class="title-row d-flex align-items-center justify-content-between col-12">
      <h1 class="h3 font-weight-bold ml-1">Orders list</h1>
      <%= link_to new_order_path, class: "btn btn-primary btn-lg border-primary text-white shadow-sm w-space-nw d-flex align-items-center" do %>
        <span class="d-block mr-2">New Order</span>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Control number</th>
      <th scope="col">State</th>
      <th scope="col">Next state</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="rounded">
        <th scope="row">
          <div class="table-child table-child--left bg-white rounded-left"><%= order.id %></div>
        </th>
        <td> 
          <div class="table-child bg-white">
            <%= link_to order.control_number, order_control_path(order.control_number), class: "d-flex justify-content-center text-primary" %>
          </div>
        </td>
        <td>
          <div class="table-child bg-white">
            <%= link_to filter_orders_path(filter_param: order.state), class: "btn-state btn btn-sm btn-outline-#{%w[warning info success][order.state]}" do %>
              <%= %w[Pending Progress Complete][order.state] %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="table-child bg-white">
            <%= order.state < 2 ? %w[Pending Progress Complete][order.state + 1] : '--'%>
          </div>
        </td>
        <td>
          <div class="table-child table-child--right bg-white rounded-right">
          <%= link_to update_order_path(order.id), method: :PUT, class: "btn btn-info rounded text-white #{ order.state == 2 ? 'disabled' : ''}" do%>
            Advance state
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
