<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Orders App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Create and track orders" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/bc4d064067.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class='<%="flash bg-#{type} fixed-top w-100 p-2 text-white"%>'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
